<ion-header>
  <ion-toolbar>
    <!-- Boton de volver, start para que este al principio del header -->
    <ion-button slot="start" (click)="backToHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title>Reservación</ion-title>

    <!-- Boton de pqrs, end para que este al final del header -->
    <ion-button slot="end" (click)="goToPqrs()">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="booking">
    <h1><strong>Hola, {{booking.name}}</strong></h1>
    <p>
      La siguiente información esta relacionada con tu codigo de reserva
      <strong class="codigo">{{booking.booking_code}}</strong>
    </p>

    <!-- Card que contiene el nombre, fecha e imagen de la reserva -->
    <app-card-reservation
      [booking]="booking"
      [formattedInitialDate]="formattedInitialDate"
      [formattedFinalDate]="formattedFinalDate">
    </app-card-reservation>


    <app-button label="solicitar soporte" fill="outline" (onTap)="callSupport()"></app-button>

    <h1 class="h1-preguntas"><strong>Preguntas frecuentes</strong></h1>

    <p class="p-preguntas">
      <ion-list>
        <ion-item
          *ngFor="let pregunta of preguntas"
          (click)="mostrarRespuesta(pregunta)"
        >
          <br />
          {{ pregunta.pregunta }}
          <br />
          <br />
        </ion-item>
      </ion-list>
    
      <ion-card *ngIf="respuestaVisible">
        <ion-card-header>
          <ion-title>{{ preguntaSeleccionada.pregunta }}</ion-title>
        </ion-card-header>
        <ion-card-content> {{ preguntaSeleccionada.respuesta }} </ion-card-content>
      </ion-card>
    </p>
  </div>
  <app-pqrs [isOpenModal]="isOpenModalPqrs" [booking]="booking" (onWillDismiss)="isOpenModalPqrs = false"></app-pqrs>
</ion-content>
