ion-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

app-rates {
  bottom: 0;
  left: 50%;
  right: 50%;
  position: absolute;
}

.rating-star {
  font-size: 34px;

  color: gold;


  transition: color 0.8s;

  cursor: pointer;
  /* Mostrar el cursor como un puntero al pasar por encima de las estrellas */
}

.rating-star:hover {
  color: orange;
  /* Cambiar el color al pasar por encima de las estrellas */
}

.title-center {
  text-align: center;
  /* Centrar el texto horizontalmente */
  font-family: "Open Sans", sans-serif;
}

ion-button.expand-block {


  border-radius: 8px;
  font-size: 16px;
  padding: 5px 20px;
  transition: background-color 0.3s;
}

ion-button.expand-block {
  --ion-color-primary: #F43F5E;
  --ion-color-primary-contrast: #FFFFFF;
}

